<div class="body2">
  <div class="main">
    <section id="content">
      <div class="wrapper">
        <article class="col1">
          <div class="pad2">
            <h2 class="pad_bot1 pad_top1">Rent a Living</h2>
            <% @rooms.each do |room|%>
              <div class="wrapper">
                <figure class="left marg_right1"><%= image_tag room.image.url %></figure>
                <p class="pad_bot1 color2">
                  <%= room.room_type %>
                  <%= room.bed_type %>
                  <%= room.pool_facing %>
                  <%= room.gym %>
                  <%= room.breakfast %>
                  <%= room.pick_n_drop %>
                  <%= room.price %>
                  <%= room.room_floor %>
                  <%= room.room_no %>
                </p>
              </div></br></br> </br> </br>
            <% end %>  
          </div>  
        </article>
      </div>
    </section>
  </div>
</div> 